body {
  width: 100%;
  background-color: #D9DBDA;
  margin: 0;
}

.layout-main-section {
  padding-top: 115px;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.width-100 {
  width: 100%;
}

.format-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}

input[type=text], textarea {
  transition: all 0.20s ease-in-out;
  outline: none;
  padding: 5px 5px;
  border: 1px solid #C8C8C8;
  border-radius: 3px;
  font: 14px $font-card-text;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(69, 105, 107, .7);
  padding: 5px 5px;
  border: 1px solid rgba(69, 105, 107, .7);
  border-radius: 3px;
}

.btn.disabled, .btn[disabled] {
  cursor: default;
}
