body {
  max-width: 1200px;
  background: linear-gradient(to right, #5E535B, #E2DCE0, #5E535B);
  margin: 50px auto 0 auto;
}

.searchBox {
  display: flex;
  justifyContent: flex-start;
  width: 400;
}

.layout-main-section {
  background-color: #D9DBDA;
  border-top: 1px solid #C8C8C8;
}
