body {
  width: 100%;
  background-color: #D9DBDA;
  margin: 0;
}

.layout-main-section {
  padding-top: 115px;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.width-100 {
  width: 100%;
}

input[type=text], textarea {
  transition: all 0.20s ease-in-out;
  outline: none;
  padding: 1px 5px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 1px 5px;
  border: 1px solid rgba(81, 203, 238, 1);
}
