$font-card-title: 'Comfortaa', cursive;
$font-card-text: 'Pontano Sans', sans-serif;

$icomoon-font-path: "../fonts" !default;

$icon-pencil: "\e905";
$icon-new: "\e92d";
$icon-search: "\e986";
$icon-bin: "\e9ac";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
