$blaa-color: #4d4d4d;

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $blaa-color;
  min-width: 400px;
  /*max-width: 800px;*/
  margin-left: 20px;
  margin-bottom: 20px;
}

.searchBox {
  display: flex;
  justifyContent: flex-start;
  width: 400;
}

.test {
  background-color: black;
}
