$font-card-title: 'Comfortaa', cursive;
$font-card-text: 'Pontano Sans', sans-serif;

.card-modal--title {
  font: 22px $font-card-title;
}

.card-modal--description {
  font: 14px $font-card-text;
  padding-top: 15px;
}
